<div class="mainpanel center round">

	<h1>Sign In</h1>

	<%= form_for(:session, :url => sessions_path) do |f| %>
	
      <div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	  </div>
	  <div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	  </div>
	  <div class="actions">
		<%= f.submit "Sign in" %>
	  </div>

    <% end %>

	<p><%= link_to "Click here if you are a first time visitor.", signup_path %></p>

</div>