  <div id="header" class="mainpanel center round">
 
  <% if signed_in? %>
    <ul id="nav_header">
      <li><%="Welcome #{current_user.name}"%></li>
      <li><%= link_to_unless_current "Home", root_path %></li>
      <li><%= link_to_unless_current "Contacts", contacts_path %></li>
      <li><%= link_to_unless_current "Profile", edit_user_path(current_user) %></li>
      <li><%= link_to_unless_current "Sign Out", signout_path, :method => :delete %></li>
    </ul>
    <% else %>
    <ul id="nav_header">
      <li><%= link_to "Home", root_path %></li>
  	  <li><%= link_to "New User", signup_path %></li>
      <li><%= link_to "Sign In", signin_path %></li>
    </ul>
    <% end %>

    <h1>Awesome Maps</h1>
    <p>
	- Powered by 
	<a href="http://code.google.com/apis/maps/documentation/javascript/">
	  Google Maps API
	</a>
    </p>

  </div>

